<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="/css/login.css">
</head>
<body>


<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Logar</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Cadastre-se</label>
                    <div class="login-space">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">Usuário</label> <input id="usuario" type="text" class="input" placeholder="Digite o Usuário"> </div>
                            <div class="group"> <label for="pass" class="label">Senha</label> <input id="senha" type="password" class="input" data-type="password" placeholder="Digite a Senha"> </div>
                            <div class="group"> <input type="submit" class="button" value="Logar"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <a href="#">Esqueci a minha senha</a> </div>
                        </div>
                        <div class="sign-up-form">
                        <form action="/cadastrar">
                            <div class="group"> <label for="user" class="label">Login</label> <input id="usuario" type="email" class="input" placeholder="Digite o seu Email"> </div>
                            <div class="group"> <label for="pass" class="label">Senha</label> <input id="senha" type="password" class="input" data-type="password" placeholder="Crie uma senha"> </div>
                            <div class="group"> <label for="pass" class="label">Confirme a senha</label> <input id="confirmaSenha" type="password" class="input" data-type="password" placeholder="Confirme a senha"> </div>
                            <div class="group"> <label for="pass" class="label">Nome</label> <input id="nome" type="text" class="input" placeholder="Qual o seu nome?"> </div>
                            <div class="group"> <input type="submit" class="button" value="Cadastrar-me" > </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Já possui cadastro?</label> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>